{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <!-- Profile Header -->
    <h2>{{ user_profile.user.username }}'s Profile</h2>
    <div class="row">
        <div class="col-md-4">
            <!-- Profile Picture Section -->
            {% if user_profile.profile_picture %}
                <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid profile-picture">
            {% else %}
                <img src="{% static 'images/default-profile.png' %}" alt="Default Profile Picture" class="img-fluid profile-picture">
            {% endif %}
        </div>
        <div class="col-md-8">
            <!-- User Info Section -->
            <h3>About Me:</h3>
            <p><strong>Favorite Car:</strong> {{ user_profile.favorite_car }}</p>
            <p><strong>Current Car:</strong> {{ user_profile.current_car }}</p>
            <p><strong>Posts Created:</strong> {{ user_profile.post_count }}</p>
            <p><strong>Comments Left:</strong> {{ user_profile.comment_count }}</p>
            <!-- Edit Profile Button -->
            <a href="{% url 'edit_profile' %}" class="btn btn-secondary mt-3 edit-profile">Edit Profile</a>
        </div>
    </div>

    <!-- Toggle Buttons for Tabs -->
    <div class="mt-5">
        <ul class="nav nav-tabs" id="profileTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="posts-tab" data-bs-toggle="tab" href="#posts-section" role="tab" aria-controls="posts-section" aria-selected="true">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="comments-tab" data-bs-toggle="tab" href="#comments-section" role="tab" aria-controls="comments-section" aria-selected="false">Comments</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <!-- User Posts Section -->
            <div class="tab-pane fade show active" id="posts-section" role="tabpanel" aria-labelledby="posts-tab">
                {% if user_posts %}
                    <div class="row">
                        {% for post in user_posts %}
                            <div class="col-md-12 mb-4">
                                <div class="card">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <!-- Post Image -->
                                            <img src="{{ post.featured_image.url }}" class="img-fluid rounded-start profile-post-image" alt="Post Image">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <!-- Post Title and Excerpt -->
                                                <h5 class="card-title">{{ post.title }}</h5>
                                                <p class="card-text">{{ post.excerpt|truncatewords:25 }}</p>
                                                
                                                <!-- Total Votes Information -->
                                                <p class="card-text">
                                                    <strong>Total Votes:</strong> {{ post.total_votes }}
                                                </p> 

                                                <!-- View Post Button -->
                                                <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary" id="view-your-post">View Your Post</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-center">You haven't made any posts yet. Maybe it's time to fix that?</p>
                {% endif %}
            </div>

            <!-- User Comments Section -->
            <div class="tab-pane fade" id="comments-section" role="tabpanel" aria-labelledby="comments-tab">
                {% if user_comments %}
                    <ul class="list-group">
                        {% for comment in user_comments %}
                            <li class="list-group-item">
                                <!-- Commented Post Information -->
                                <p><strong>Commented on:</strong> <a href="{% url 'post_detail' comment.post.slug %}" id="comment-link">{{ comment.post.title }}</a></p>
                                <p>{{ comment.body|truncatewords:25 }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-center">You haven't made a comment yet. Don't be shy!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
